Help Type: command
Command: wikigraph get

get

Purpose:
  Read one Wiki Graph object by URI.

Usage:
  wikigraph get <archive.sdpub> <uri> [--json|--jsonl] [--help|-h]

Examples:
  wikigraph get book.sdpub wikigraph://chunk/123
  wikigraph get book.sdpub wikigraph://source/chapter/1/fragment/0#42..60
