Help Type: topic
Topic: index

Help Topics

Purpose:
  These pages explain SpineDigest by problem domain rather than by one specific command.

Available topics:
{% for topic in helpTopics %}
  - wikigraph help {{ topic.name }}
    {{ topic.summary }}
{% endfor %}

Command help:
  - wikigraph --help
  - wikigraph wkg://book.sdpub/ get --help
  - wikigraph wkg://book.sdpub/cover get --help
  - wikigraph wkg://book.sdpub/chapter list --help
  - wikigraph wkg://book.sdpub/chapter/tree get --help
