Help Type: topic
Topic: object

Objects

Purpose:
  Objects are URI-addressed targets. Most verbs work only on specific object kinds.

{% if selectedObject %}
Object: {{ selectedObject.title }}

Name:
  {{ selectedObject.name }}

Purpose:
  {{ selectedObject.description }}

URI forms:
{% for uri in selectedObject.uriForms %}
  {{ uri }}
{% endfor %}

Supported verbs:
{% for item in selectedObject.verbs %}
  - {{ item.verb }}
    {{ item.command }}
    {{ item.note }}
{% endfor %}

Where to go next:
  - wikigraph help verb
  - wikigraph help matrix
{% else %}
Object index:
{% for object in helpObjects %}
  - {{ object.name }}
    {{ object.description }}
    Help: wikigraph help object {{ object.name }}
{% endfor %}

Use:
  wikigraph help object <object>
  wikigraph help <object>
  wikigraph help matrix
{% endif %}
