Help Type: topic
Topic: recipe

Recipes

Create an archive from Markdown:
  wikigraph wikg://book.wikg create ./book.md
  cat article.md | wikigraph wikg://article.wikg create --input-format markdown

Queue derived data:
  wikigraph wikg://book.wikg/chapter/3 queue add --task reading-graph --accept-cost
  wikigraph wikg://book.wikg/chapter/3 queue add --task reading-summary --accept-cost

Search and open objects:
  wikigraph wikg:///Users/me/book.wikg search "恩典 婴儿洗礼"
  wikigraph wikg:///Users/me/book.wikg/chapter/3/entity list
  wikigraph wikg:///Users/me/book.wikg/chunk/123 get
  wikigraph wikg:///Users/me/book.wikg/chunk/123 related
  wikigraph wikg:///Users/me/book.wikg/triple/Q162593/discusses/Q9476 evidence
  wikigraph wikg:///Users/me/book.wikg/entity/Q162593 pack --budget 5000

Export:
  wikigraph wikg://book.wikg export --output-format markdown --output out.md

Transform without an archive:
  cat chapter.txt | wikigraph transform --input-format txt --output-format markdown
