Help Type: topic
Topic: task

Task Routing

Create:
  wikigraph wikg://book.wikg create ./book.md

Generate:
  wikigraph wikg://book.wikg/chapter/3 queue add --task reading-graph --accept-cost
  wikigraph wikg://book.wikg/chapter/3 queue add --task reading-summary --accept-cost
  wikigraph wikg://book.wikg/chapter/3 queue add --task knowledge-graph --accept-cost

Explore:
  wikigraph wikg:///Users/me/book.wikg search "keyword"
  wikigraph wikg:///Users/me/book.wikg/chapter/3/entity list
  wikigraph wikg:///Users/me/book.wikg/<object-path> get
  wikigraph wikg:///Users/me/book.wikg/<object-path> related
  wikigraph wikg:///Users/me/book.wikg/<object-path> evidence
  wikigraph wikg:///Users/me/book.wikg/<object-path> pack --budget 5000
